.WeatherForecast {
  text-align: center;
}

.WeatherForecast-icon {
  display: inline-block;
  position: relative;
  margin-right: -8px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
